html
    head
        // The pug header includes the jquery library and the client side
        // functionality in index.js
        title=title
        
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="/index.js")
    body
        h1 Logical Calculator
        input(type="text")#num1
        br
        input(type="text")#num2
        br
        input(type="button", value="NOT")#not
        input(type="button", value="OR")#or
        input(type="button", value="AND")#and
        br
        br
        items
        ul#answer
        ul 
            each item in row
                 li= item
            
            
        
            // Have the template generate the list of previous calculations
            // in a list here, using the <ul> tag
            // ... Your code here...
